---
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Hi!</title>
  <link rel="stylesheet" href="style.css">
  <link rel="icon" href="{{ '/favicon2.png' | relative_url }}">
</head>
{% include header.html %}
<background-color: #000000;>
<body>
  <h1>Hi!</h1>
  <p>This is the personal website of Daszeal.</p><br>
  <p></p>If you stumbled across this yourself, feel free to check it out, or promptly give yourself dementia.</p><br>
  <p>I'm planning on using this website to post some random finds, so stay tuned cuz it's gonna take some time.</p><br>
  <p>This website's currently under development. It will be finished before <a href="https://en.wikipedia.org/wiki/Grand_Theft_Auto_VI">GTA VI</a> is released :)</p><br>
</body>
{% include footer.html %}
</html>
