h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-width: 90%;
    margin-top: 20%;
    line-height: normal;
    color: white;
    text-align:center;
    font-size: 3em;
    font-weight: 700;
    font-style: bold;
}
h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-width: 90%;
    margin-top: 5%;
    line-height: normal;
    color: white;
    text-align:center;
    font-size: 1.5em;
    font-weight: 500;
    font-style: normal;
}
p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-width: 90%;
    margin-top: 5%;
    line-height: normal;
    color: white;
    text-align:center;
    font-size: 1em;
    font-weight: 400;
    font-style: normal;
}
a{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-width: 90%;
    margin-top: 5%;
    line-height: normal;
    color: white;
    text-align:center;
    font-size: 1em;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
}
a:hover{
    text-decoration: bold; 
    color: lightgray;
}
background{
    background-color: black;
}
