html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: black;
}
h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 5%;
    margin-left: 5%;
    margin-right:5%;
    line-height: normal;
    color: white;
    text-align:center;
    font-size: 3em;
    font-weight: 700;
    font-style: bold;
    background-color: black;
}
h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 5%;
    margin-left: 5%;
    margin-right:5%;
    line-height: normal;
    color: white;
    text-align:center;
    font-size: 1.5em;
    font-weight: 500;
    font-style: normal;
    background-color: black;
}
p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 5%;
    margin-left: 5%;
    margin-right:5%;
    line-height: normal;
    color: white;
    text-align:center;
    font-size: 1em;
    font-weight: 400;
    font-style: normal;
    background-color: black;
}
a{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 5%;
    margin-left: 5%;
    margin-right:5%;
    line-height: normal;
    color: white;
    text-align:center;
    font-size: 1em;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    background-color: black;
}
a:hover{
    text-decoration: bold; 
    font-weight:500;
    background-color: black;
}
background{
    background-color: black;
}
footer {
  margin-top: 4rem;
  padding: 1rem;
  border-top: 1px solid #ddd;
  background-color: #000000;
}

.footer-content {
  max-width: 80%;
  margin: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
    background-color: #000000;
}

.footer-links a {
  margin-left: 1rem;
  color: #ffffff;
  font-size: 0.9rem;
    text-align: center;
    background-color: #000000;
}

.footer-links a:hover {
  color: #ffffff;
    text-decoration: underline;
    text-decoration: bold;
}
