<footer class="site-footer">

  <div class="footer-inner">

    <!-- LEFT -->
    <div class="footer-profile">

      <img src="/assets/footer-photo.jpg" class="footer-photo" alt="My photo">

      <div class="footer-text">

        <h3 class="footer-name">Peter Jiang</h3>

        <p class="footer-desc">
          Rocket enthusiast - Student - Gamer
        </p>

        <div class="footer-socials">

          <a href="mailto:daseal211@gmail.com" aria-label="Email">
            <img src="/assets/icons/mail.png">
          </a>
          
          <a href="https://x.com/ddaszeal" aria-label="X">
            <img src="/assets/icons/x.png">
          </a>
          
          <a href="https://github.com/daszeal" aria-label="GitHub">
            <img src="/assets/icons/github.png">
          </a>

          <a href="https://discord.com/users/daszeal" aria-label="Discord">
            <img src="/assets/icons/discord.png">
          </a>

        </div>

      </div>

    </div>
   <!-- RIGHT -->
    <div class="footer-legal">
       © 2026 by Peter "Daszeal" Jiang under <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>
    </div>

  </div>

</footer>
<script src="{{ '/assets/main.js' | relative_url }}"></script>
